backups/
crash-reports/
datapacks/
essential/
local/
logs/
saves/
schematics/
screenshots/
shaderpacks/
XaeroWaypoints/
XaeroWaypoints_*/
XaeroWorldMap/
knownkeys.txt
patchouli_data.json
profile.json
usercache.json
usernamecache.json
